
<nav class="navbar" style="text-align: center;background:rgba(0,0,0,0.7);height:70px;border-radius: 0 !important;" >
    <div class="container-fluid" style="display: inline-block;" >

            <div  class="navbar-header" style="text-align: center;padding-top:10px;" >
                    
                    <a class="navbar-brand navbar-canter" routerLink="/" style="color:white;font-size:45px; font-family:sans-serif;">Health Care Mining</a>
            </div>
            
    </div>     

</nav>


        <div class="container">
                                  
                                <ul class="nav nav-pills " style="border-radius: 5 !important;">
                                    <li class="nav-item"  style="background:rgba(0,0,0,.2);border-radius: 5px !important;">

                                        <a mat-button routerLink="/diseases" class="nav-link" style="font-weight:bold;color:black">Diseases Checker</a>
                                    </li>

                                    <li class="nav-item"  style="background:rgba(0,0,0,.2);border-radius: 5px !important;">
                                            <a mat-button routerLink="/symptoms" style="font-weight:bold;color:black">Symptoms Checker</a>
                                        </li>
                                   
                                </ul>
                               
                               
                
        </div>     
    
    


