


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput  placeholder="Symptoms" [matAutocomplete]="auto" [formControl]="stateCtrl">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
            <mat-option (onSelectionChange)="submitValue(disease)" *ngFor="let disease of filteredStates | async" [value]="disease">

              <span>{{ disease }}</span>

            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

      <div *ngIf="flag">

        <mat-card class="example-card">

            <mat-card-title style="text-align:left">Diseases</mat-card-title>

          <mat-card-content>
            <p *ngFor="let x of disease ">
              <b>{{ x.disease.diseaseName }}</b>
              reported by {{ (100 * x.count/this.vsum) | number:'1.1-2'}} % users
            </p>
          </mat-card-content>
        </mat-card>

        
      </div>

    </div>

  </div>

</div>
