/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
.mat-form-field-infix{
font-size:20px;
font-weight:bold;
color: white;
}
